## Configuration files ##

*.iml
.idea/
jni/.idea/
jni/.vscode/

## Compile output ##

*.dll
*.a
*.def
*.o
*.exe

jni/cmake-build-debug/
jni/build/
out/

Makefile.win

## Unnecessary files ##

jni/jni.layout
*.res

## Logs ##

*.log
*.txt

## added by plugin ##

.vscode/
code_drafts/.vscode/
jni/jni32.ico
