# Configuration files #

*.iml
.idea/
jni/.idea/
jni/.vscode/

# Compile output #

jni.dll
jni/libjni.a
jni/libjni.def
jni/org_ice1000_bit_BinaryIndexedTree.o
jni/org_ice1000_graph_FrontStarGraph.o
jni/org_ice1000_bit_ReversePairSum.o
jni/org_ice1000_math_Trigonometric.o
jni/org_ice1000_util_SequenceUtils.o
jni/org_ice1000_public_functions.o
jni/org_ice1000_util_ArrayUtils.o
jni/org_ice1000_math_MathUtils.o
jni/org_ice1000_graph_UnionSet.o
jni/org_ice1000_util_Math.o
jni/build/
out/

# Unneccessary files #

jni/jni.layout
lib/

# Logs #

*.log
