# Configuration files #

*.iml
.idea
.vscode

# Compile output #

*.dll
*.a
*.exe
*.def
*.o

jni/cmake-build-debug/
jni/build/
out/

Makefile.win

# Unnecessary files #

jni/jni.layout
*.res
*.ico
lib/

# Logs #

*.log
*.txt
